{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="starter-template">
    <h2>EndGame Research</h2>
    <h4>Startups Most Likely to Exit</h4>
    <p>Click on a row for more information, or 
    <a href='{{ url_for('endgame_search') }}'>Search</a> for a startup!</p>
  </div>
  <table class="table table-hover">
    <tr>
        <th>Name</th> 
        <th>Category</th> 
        <th>Founded</th> 
        <th>Last Funded</th> 
        <th>Funding to Date</th> 
    </tr>
    <!-- Rows are clickable! -->
    {% for index, comp in top_exits.iterrows() %}
    <!-- set url of row anchor to output + search -->
    <tr onclick="window.location='{{ url_for('endgame_output') + '?company_name=' + comp['name'] }}';">
      <td>{{ comp['name'] }}</td>
      <td>{{ comp.category_code }}</td>
      <td>{{ comp.founding_date.strftime('%m/%d/%Y') }}</td>
      <td>{{ comp.last_funding_date.strftime('%m/%d/%Y') }}</td>
      <td>{{ comp.famt_str }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
