{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="starter-template">
    <h2>EndGame Results</h2>
  </div>

  <div class = "container">
    <div class = "container">
      <!--Make sure the form has the autocomplete function switched off:-->
      <!-- <form action="/output" method="GET" autocomplete="off"> -->
      <form action="/output" method="GET">
        <div class="form-group">
          <label for="company_name">Company Name:</label>
          <input type="text" id="company_name" name='company_name' placeholder="e.g. Square">
        </div>
        <div>
          <button type="submit" class="btn btn-default btn-lg">Go!</button>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </div> <!-- /.container-->

  <div class="container">
    <div class="starter-template">
      <h3>Results:</h3>
      <p class="lead">{{ company_message }}</p>
    </div>
  </div><!-- /.container -->

  {% if is_startup %}
  <div class="container">
    <div class="starter-template">
      <h3>Similar companies:</h3>
      <p class="lead">Based on your search, similar companies historically include:</p>
    </div>

    <table class="table table-hover">
      <tr><th>Name</th>
        <th>Category</th>
        <th>Founded</th>
        <th>Status</th></tr>
      {% for index, comp in comps.iterrows() %}
      <tr onclick="window.location='{{ url_for('endgame_output') + '?company_name=' + comp['name'] }}';">
        <td>{{ comp['name'] }}</td>
        <td>{{ comp['category_code'] }}</td>
        <td>{{ comp['dates'].strftime('%m/%d/%Y') }}</td>
        <td>{{ comp['status'] }}</td>
      </tr>
      {% endfor %}
    </table>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </div><!-- /.container -->

  <!-- Make the Bokeh plot!! -->
  <div class="container">
    <div class="starter-template">
      <h3>Company Funding Trajectories</h3>
      {{ plot_div|indent(4)|safe }}
    </div><!-- /.starter-template -->
  </div><!-- /.container -->
  {% endif %}
</div><!-- /.container -->
{% endblock %}
